@import '../../styles/variables';

.container {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 70%;
  height: 100%;
  background-color: white;
  padding: 3% 10%;
  box-shadow: 4px 4px 20px 9px rgba(0, 0, 0, 0.36);
  position: relative;

  &__text {
    margin-top: 25px;
    height: 40%;
  }

  &__btn {
    font-size: 1.1em;
    margin-top: 15px;
    width: 150px;
  }

  &__time {
    margin-top: 10px;
    width: 80%;
    color: rgb(71, 71, 71);

    &_input {
      width: 280px;
    }
  }

  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    background-color: $brownish-grey;
    color: white;
  }
}

@media (max-width: $max-width-mobile) {
  .container {
    min-width: 100%;
  }

  .form {
    width: 100%;
    padding: 50px 20px;

    &__text {
      margin-top: 0;
    }
  }
}
