$steel: #818285;
$color-gray-01-rest: #b3b3b3;
$color-black: #1d1d1b;
$azure: #00aaff;
$brownish-grey: #666666;
$status-destructive: #e62632;
$faded-blue: #667eb4;
$light-navy-blue: #33539b;
$pinkish-red: #e62632;
$black: #333333;
