@import '../../styles/variables';



.delete {
  &__container {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__form {
    min-width: 375px;
    width: 400px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 4px 4px 20px 9px rgba(0, 0, 0, 0.36);
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
  }

  &__item {
    color: $brownish-grey;
    font-size: 1.3em;
    text-align: center;
    padding: 10px 0;

    &:hover {
      background-color: $color-gray-01-rest;
      cursor: pointer;
    }

    &_select {
      text-decoration: line-through;
    }
  }

  &__btn {
    width: 100%;
    min-height: 50px;
    cursor: pointer;
    background-color: rgb(255, 93, 93);
    font-size: 1.3em;
    color: white;
    border: none;

    &:hover {
      background-color: rgba(255, 93, 93, 0.9);
    }
  }
}

@media (max-width: $max-width-mobile) {
  .delete__container {
    width: 100%;
  }
}
