@import '../../styles/variables';

.plan {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;

  &__container {
    width: 70%;
    background-color: white;
    height: 100%;
    box-shadow: 4px 4px 20px 9px rgba(0, 0, 0, 0.36);
    padding: 3% 5%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar {
      width: 7px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: $brownish-grey;
      border-radius: 7px;
    }
  
    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0);
    }
  }

  &__header {
    width: 100%;
    display: flex;
    margin-bottom: 35px;
    align-items: center;
  }

  &__copy {
    max-width: 170px;
  }

  &__delete {
    max-width: 170px;
    margin-left: auto;
  }

  &__error {
    align-self: center;
    margin-bottom: 10px;
  }

  &__record {
    min-height: 50px;
    display: flex;
    border-bottom: black solid 1px;
    justify-content: space-between;
    cursor: pointer;

    &:first-child {
      border-top: black solid 1px;
    }

    &:hover {
      background-color: rgb(233, 233, 233);
    }

    &_select {
      background-color: rgb(189, 189, 189);

      &:hover {
        background-color: rgb(212, 212, 212);
      }
    }

    &_text {
      max-width: 50%;
      min-width: 50%;
      display: flex;
      align-items: center;
      font-size: 1.2em;
      line-height: 1.35em;
      overflow-wrap: anywhere;
      padding: 5px 0;
    }

    &_right {
      max-width: 45%;
      min-width: 45%;
      display: flex;
      align-items: center;
    }

    &_progress {
      min-width: calc(100% - 23px);
      margin-right: 0 !important;
      margin-bottom: 0 !important;
    }

    &_icon {
      color: rgb(163, 163, 163);
    }
  }
}

@media (max-width: $max-width-mobile) {
  .plan {
    min-width: 100%;

    &__container {
      width: 100%;

    }

    &__record {
      flex-direction: column;

      &_text {
        min-width: 100%;
      }
  
      &_progress {
        min-width: 100%;
      }
    }
  }
}
