@import '../../styles/variables';

$acount-width: 450px;

.acount {
  height: calc(100% - #{$navbar-height});
  width: $acount-width;
  background-color: $black;
  position: absolute;
  z-index: 20;
  right: calc(-#{$acount-width});
  transition: right 0.5s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;

  &__active {
    right: 0;
  }

  &__name {
    color: white;
    word-wrap: break-word;
    max-width: 100%;
    margin-bottom: 5px;
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    &_right {
      background-color: white;
      border-radius: 50%;
      margin-left: auto;
      margin-top: 20px;
      margin-right: 15px;
      cursor: pointer;
    }

    &_out {
      color: white;
      background-color: $azure;
      border-radius: 6px;
      margin-left: auto;
      margin-bottom: 20px;
      margin-right: 15px;
      cursor: pointer;
    }
  }

  &__pass {
    &_change {
      color: white;
      background-color: rgb(230, 32, 32);
      border-radius: 5px;
      font-size: 1.1em;
      border-width: 0;
      height: 40px;
      margin-top: 30px;
      width: 200px;
      text-align: center;
      cursor: pointer;
    }

    &_form {
      width: 100%;
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      transition: height 1s ease-in-out;
      overflow: hidden;
      box-shadow: -7px 1px 1px -3px rgba(34, 60, 80, 0.13);
      overflow-y: auto;
    }

    &_input {
      margin-top: 10px;
      width: 80%;
    }

    &_send {
      margin-top: 15px;color: white;
      background-color: $azure;
      border-radius: 5px;
      font-size: 1.1em;
      border-width: 0;
      height: 40px;
      margin-top: 30px;
      width: 200px;
      text-align: center;
      cursor: pointer;
    }

    &_error {
      margin-top: 10px;
      color: $pinkish-red;
    }
  }

  &__icon {
    &_eye {
      position: absolute;
      top: 45%;
      right: calc(10% + 10px);
      cursor: pointer;
    }
  }
}

.container__input {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.hide {
  height: 0%;
  box-shadow: none;
}

@media (max-width: $max-width-mobile) {
  .acount {
    width: 100%;
  }
}
